{% extends "layout.html" %}
{% block title %}
Export
{% endblock %}

{% block body %}

<h3>Export your data to a csv file</h3>
<br>
{% if can_export %}
<button onclick="window.location.href='/export?download=true'" type="button" class="btn btn-outline-warning">Download CSV file</button>
<br>
<h3 id="tips">Tips</h3>
<!-- encoding tip -->
  <div class="accordion" id="encoding">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          If non-english text does not show properly
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#encoding">
        <div class="accordion-body">
          If you open your .csv file with Microsoft Excel
          and see random symbols instead of non-english characters,
          the problem is likely with encoding.<br>
          Do the following (on a Windows machine):
          <ul>
            <li>Right-click your file and press "Edit". This should open your file in Notepad.</li>
            <li>Hit CTRL + S to just save the file as is. This should save it with "UTF-8" encoding.</li>
            <li>Done. Your file should now open properly in Microsoft Excel</li>
        </div>
      </div>
    </div>
  </div>
<!-- end -->

<!-- break into columns tip -->

  <div class="accordion" id="columns">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How to split your file into columns
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#columns">
        <div class="accordion-body">
          A CSV file is a file containing multiple comma-delimited values inside one column.
          To split those values into columns, do the following:
          <ul>
            <li>Select the first (leftmost) column.</li>
            <li>Select Data > Text to Columns > Next</li>
            <li>Select Comma. Don't forget to uncheck other items if any.</li>
            <li>Next > Finish</li>
        </div>
      </div>
    </div>
  </div>


<!-- end -->

{% else %}
<p>You have no transactions to export yet. <a class="link-warning link-underline-opacity-0" href="/new">Add some</a> then come back here.</p>

{% endif %}


{% endblock %}
