{% extends "layout.html" %}
{% block title %}
Register
{% endblock %}

{% block body %}
<h3> Register </h3>
  <form action="/register" method="post">
    <br>
    <div class="mb-3">
      <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" autocomplete="off" minlength="1" maxlength="8" required autofocus>
    </div>
    <div class="mb-3">
      <input name="password1" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required minlength="1" maxlength="8">
    </div>
    <div class="mb-3">
      <input name="password2" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" required minlength="1" maxlength="8">
    </div>
    <button type="submit" class="btn btn-outline-warning">Register</button>
    <br>
  </form>
{% endblock %}
